.about-description-block {
  display: flex;
  flex-direction: column;
}

.about-description-with-photo {
  display: flex;
}

.about-description-with-photo .bio-avatar {
  border-radius: 10px;
}

.about-description-with-photo p {
  width: 70%;
}
